.faqcontainer {
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 10rem;
}

.faqtext {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 80rem;
  text-align: center;
}

.accordion {
  box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.1);
}

.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 4.5rem;
  cursor: pointer;
  background-color: #fff;
  color: #010103;
  font-weight: 500;
}

.accordion-content {
  padding: 10px;
  background-color: #fff;
  transition: 0.15s ease;
}

/* Gösterim için ikonlar */
.accordion-title div:last-child {
  font-size: 20px;
}

* {
  font-family: "Poppins", sans-serif;
}

.faqtext h3 {
  font-size: 2.2rem;
  height: 0.7rem;
  margin-bottom: 0.2rem;
}
.faqtext h2 {
  font-size: 4.2rem;
  height: 1rem;
}
.faqtext-p {
  text-align: center;
  margin-right: 4rem;
}
.faqcarcontainer {
  display: flex;
}

@media (max-width: 768px) and (min-width: 320px) {
  ul,
  li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  .faqtext {
    display: none;
  }

  .faqcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
