.footercontainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 40px 20px;
  margin-top: 15rem;
  background-color: #f8f8f8;
}
.footercontent {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
}

.footerul {
  list-style: none;
  width: 16rem;
}

.footerul h4 {
  margin: 38.304px 0px 0px 0px;
  font-size: 1.8rem;
}

.footerul li {
  margin-bottom: 1rem;
}

.footercontent2,
.footercontent3 {
  list-style: none;
  margin: 0;
  padding: 3rem;
  width: 16rem;
}
.footercontent3 li {
  text-align: center;
}
.footercontent2 li {
  text-align: center;
}
element.style {
  padding-left: 0;
}
.footercontent2 li,
.footercontent3 li {
  margin-bottom: 1rem;
}
.footercompanyname {
  font-weight: 800;
  font-size: 1.8rem;
}
.footerworkhours {
  font-weight: 800;
  font-size: 1.8rem;
}
li.footercompanyname {
  font-family: "Poppins", sans-serif;
}
.submit-email {
  background-color: #ff4d30;
  border: none;
  box-shadow: 0 10px 15px rgba(255, 83, 48, 0.35);
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem;
  transition: all 0.3s;
  width: 100%;
}
.submit-email:hover {
  box-shadow: 0 10px 15px rgba(255, 83, 48, 0.55);
  transition: all 0.4s;
}
.carrentalp {
  color: #706f7b;
  font-size: 1rem;
  width: 100%;
}
.footersubscribe {
  font-weight: 800;
  font-size: 1.8rem;
}
.footersubscribep {
  color: #706f7b;
  font-size: 1rem;
  width: 100%;
}

.footeremail {
  width: 15rem;
  height: 3rem;
  color: #504f4f;
  font-weight: 600;
  border: 1px solid #ccd7e6;
  border-radius: 3px;
  outline: none;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

@media (max-width: 768px) and (min-width: 320px) {
  ul,
  li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  .footercontent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footercontainer {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    align-content: center;
  }
  .footerul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .carrentalp {
    text-align: center;
  }
  .footercontent2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footercontent li {
    text-align: center;
  }
  .footerworkhours {
    display: flex;
    text-align: center;
  }
  .footercontent3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .submit-email {
    background-color: #ff4d30;
    border: none;
    box-shadow: 0 10px 15px rgba(255, 83, 48, 0.35);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem;
    transition: all 0.3s;
    width: 15rem;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  ul,
  li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  .footercontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .footercontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footerul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .carrentalp {
    text-align: center;
  }
  .footercontent2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footerworkhours {
    display: flex;
    text-align: center;
  }
  .footercontent3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 2500px) and (min-width: 1280px) {
  .footercontent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }
}
