.header {
  justify-content: center;
  align-items: center;
  display: flex;
}
.headerlogo img {
  width: 9rem;
  height: 9rem;
}
.headerlinks {
  text-decoration: none;
  list-style-type: none;
}
.headerlinksbuttonscontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.headerlinks li {
  display: inline;
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem;
}
.headerlinks a {
  text-decoration: none;
  color: black;
}

.headerbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.headersignup {
  font-size: 1rem;
  font-weight: 500;
  color: black;
  border: none;
  background-color: white;

  cursor: pointer;
  transition: all 0.9s;
}
.headersignup:hover {
  color: orangered;
  transition: all 0.3s;
}
.headerlogin {
  font-size: 1.3rem;
  color: white;
  background-color: orangered;
  border: none;
  padding: 10px 40px;
  border-radius: 5%;
  cursor: pointer;
  transition: all 0.9s;
}
.headerlogin:hover {
  box-shadow: 0 10px 15px rgba(255, 83, 48, 0.55);
  transition: all 0.4s;
}
* {
  font-family: "Poppins", sans-serif;
}
.headerlinks li:hover {
  color: orangered;
  transition: all 0.3s;
}
.turkishflag {
  width: 24px;
  height: 24px;
  border-radius: 1rem;
}
.enflag {
  width: 24px;
  height: 24px;
  border-radius: 1rem;
}
.flagdiv {
  margin-left: 1rem;
}
@media (max-width: 400px) and (min-width: 240px) {
  ul,
  li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  .header {
    display: none;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  ul,
  li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  .header {
    display: none;
  }
}
@media (max-width: 1000px) and (min-width: 769px) {
  .header {
    display: flex;
    flex-direction: row;
  }
  .headerbutton {
    display: flex;
    align-items: center;
    margin-left: 0;
  }
  .headerlinks li {
    margin: 6px;
    font-size: 12px;
  }
  .headersignup {
    margin: 0;
    font-size: 12px;
  }
  .headerlogin {
    font-size: 12px;
  }
  .headerlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: 1148px) and (min-width: 1001px) {
  .header {
    display: flex;
    flex-direction: row;
  }
  .headerbutton {
    display: flex;
    align-items: center;
  }
  .headerlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .headerlinks li {
    margin: 12px;
  }
}
