* {
  font-family: "Poppins", sans-serif;
}
.herocontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.herotext {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.herotext h4 {
  font-size: 25px;
  font-weight: 600;
  color: black;
  height: 0.1rem;
}

.herotext span {
  color: orangered;
  font-weight: bolder;
}

.selectbutton {
  font-size: 1.3rem;
  color: white;
  background-color: orangered;
  border: none;
  padding: 10px 20px;
  border-radius: 5%;
  cursor: pointer;
  transition: all 0.9s;
}
.selectbutton:hover {
  box-shadow: 0 10px 15px rgba(255, 83, 48, 0.55);
  transition: all 0.4s;
}
.detailsbutton {
  font-size: 1.3rem;
  color: white;
  background-color: black;
  border: none;
  margin-left: 2rem;
  padding: 10px 40px;
  border-radius: 5%;
  cursor: pointer;
  transition: all 0.9s;
}
.detailsbutton:hover {
  box-shadow: 0 10px 15px rgba(20, 20, 20, 0.55);
  transition: all 0.4s;
}

@media (max-width: 371px) and (min-width: 322px) {
  .selectbutton {
    font-size: 1.3rem;
    color: white;
    background-color: orangered;
    border: none;
    padding: 10px 10px;
    border-radius: 5%;
    cursor: pointer;
    transition: all 0.9s;
  }
  .detailsbutton {
    font-size: 1.3rem;
    color: white;
    background-color: black;
    border: none;
    margin-left: 2rem;
    padding: 10px 30px;
    border-radius: 5%;
    cursor: pointer;
    transition: all 0.9s;
  }
}
@media (max-width: 768px) and (min-width: 320px) {
  .herocontainer {
    display: flex;
    flex-direction: column;
  }
  .herocar {
    width: 100%;
    margin-top: 2rem;
  }
  .herotext h1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .herocontainer {
    display: flex;
    flex-direction: column;
  }
  .herocar {
    width: 100%;
    margin-top: 2rem;
  }
  .herotext h1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
}
