.info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 13rem;
}
.companyslogan {
  text-align: center;
}
.infoselectcar {
  width: 17rem;
}
.infocontactoperator {
  width: 17rem;
}
.carhappines {
  width: 17rem;
}
.infoselectcarh {
  font-size: 1.5rem;
  margin: 0;
}
.infoselectcarp {
  color: #706f7b;
  font-size: 1rem;
  width: 100%;
}
.informationcontainer {
  margin-top: 10rem;
  margin-bottom: 10rem;
  background-color: #f8f8f8;
}

@media (max-width: 768px) and (min-width: 320px) {
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
}

@media (max-width: 941px) and (min-width: 769px) {
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
  }
}
