.info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.companyslogan {
  text-align: center;
}
p {
  color: #706f7b;
  margin-left: 4rem;
  font-size: 1rem;
  line-height: 2;
  padding: 10px;
  width: 75%;
}
.informationcontainer {
  margin-top: 10rem;
  background-color: #f8f8f8;
}

@media (max-width: 768px) and (min-width: 320px) {
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
